{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    Reset-Password
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 shadow shadow-lg border-2">
                <div class="card-title py-3 mx-auto">
                    <h4>Please enter your email to get reset link</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'request-reset-link' %}" method="post">
                        {% csrf_token %}

                        {% include 'components/messages.html' %}


                        <div class="form-group">
                            <label for="emailField">Email</label>
                            <input type="email" name="email" id="emailField" class="form-control"
                                   placeholder="Email" value="{{ field_values.email }}">
                            <span class="emailErrorField" style="display: none"></span>

                        </div>
                        <input type="submit" value="Request" class="btn btn-primary submit-btn w-100 mt-3">

                    </form>

                    <p class="text-center mt-2">
                        Back to login?
                        <a href="{% url 'login' %}">Login</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}