{% extends 'base_auth.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 shadow shadow-lg border-2">
                <div class="card-title py-3 mx-auto">
                    <h4>Reset your password</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                        {% csrf_token %}

                        {% include 'components/messages.html' %}

                        <div class="form-group">
                            <label for="passwordField">Password</label>
                            <input type="password" name="password" id="passwordField" class="form-control"
                                   placeholder="Password">

                        </div>
                        <div class="form-group mt-3">
                            <label for="passwordField">Confirm password</label>
                            <input type="password" name="confirm_password" id="confirmPasswordField"
                                   class="form-control"
                                   placeholder="Confirm Password">

                            <small class="float-end py-3 showPassword" style="cursor: pointer">SHOW</small>
                        </div>

                        <input type="submit" value="Reset password" class="btn btn-primary submit-btn w-100">

                    </form>
                    <p class="text-center mt-2">
                        Back to login?
                        <a href="{% url 'login' %}">register</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}