{% load static %}
<html lang="en" data-bs-theme="auto">
<head>
    <script src="{% static 'js/color-modes.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        ExpensesDashboard {% block title %}{% endblock %}
    </title>

    <link href="{% static 'css/docsearch.css@3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <!   <!-- Custom styles for this template -->
    <link href="{% static 'css/bootstrap-icons.min.css' %}" rel="stylesheet">
    <!   <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-12">
            <div class="card">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </main>
    </div>
</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/chart.umd.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
